---
import Layout from "./layouts/layout_global.astro";
import {getDiscotecas, getResenasRecientes} from "./../../public/api.js";
import Review from "./../../src/scripts/review.js";

var discotecas = await getDiscotecas();
//var resenas_recientes = await getResenasRecientes();
var resenas_recientes = [new Review(1, "Esto es un comentario!", 1, 1, 0.5)];
resenas_recientes.push(new Review(1, "Esto es un comentario!", 1, 1, 0.5));
resenas_recientes.push(new Review(1, "Esto es un comentario!", 1, 1, 0.5));
resenas_recientes.push(new Review(1, "Esto es un comentario!", 1, 1, 0.5));
resenas_recientes.push(new Review(1, "Esto es un comentario!", 1, 1, 0.5));
resenas_recientes.push(new Review(1, "Esto es un comentario!", 1, 1, 0.5));
resenas_recientes.push(new Review(1, "Esto es un comentario!", 1, 1, 0.5));


---

<Layout>
    <h3>Hola de nuevo!</h3>
    <div class="two-divs-container">
        <div class="resenas-recientes">
            <h3>Rese&ntilde;as recientes</h3>
            <div class="row-container">
                {resenas_recientes.map((review) => (
                  <div class="row">
                    <h5>{review.discoId}</h5>
                    <p>{review.comment}</p>
                  </div>
                ))}
            </div>
        </div>

        <div class="discotecas-trending">
            <h3>Discotecas trending</h3>
            <div class="row-container">
                {discotecas.map((discoteca) => (
                  <div class="row">
                    <h5>{discoteca.name}</h5>
                    <p>{discoteca.score}</p>
                  </div>
                ))}
            </div>
        </div>
    </div>
</Layout>
