---
import Layout from "./layouts/layout_global.astro";
import {getDiscotecas, getResenasRecientes} from "./../../public/api.js";
import Review from "./../../src/scripts/review.js";
import Discoteca from "./../../src/scripts/discoteca.js";

// var discotecas = await getDiscotecas();
//var resenas_recientes = await getResenasRecientes();
var resenas_recientes = [new Review(1, "Esto es un comentario!", 1, 1, 0.5)];
resenas_recientes.push(new Review(1, "Esto es un comentario!", 1, 1, 0.5));
resenas_recientes.push(new Review(1, "Esto es un comentario!", 1, 1, 0.5));
resenas_recientes.push(new Review(1, "Esto es un comentario!", 1, 1, 0.5));
resenas_recientes.push(new Review(1, "Esto es un comentario!", 1, 1, 0.5));
resenas_recientes.push(new Review(1, "Esto es un comentario!", 1, 1, 0.5));
resenas_recientes.push(new Review(1, "Esto es un comentario!", 1, 1, 0.5));

var discotecas = [new Discoteca(1,"Pacha Barcelona","Passeig Marítim de la Barceloneta, 34, Barcelona",647835751, 0.5)];
discotecas.push(new Discoteca(2,"Opium Barcelona","asseig Marítim de la Barceloneta, 38, Barcelona",655576998,0));
discotecas.push(new Discoteca(3,"Bling Bling Barcelona", "Plaça Rosa Del Vents 1, Barcelona",664244209,5));

---

<Layout>
    <h3>Hola de nuevo!</h3>
    <div class="two-divs-container">
        <div class="resenas-recientes">
            <h3 class="white">Rese&ntilde;as recientes</h3>
            <div class="row-container">
                {resenas_recientes.map((review) => (
                  <div class="row">
                    <h5 class="margin-5">{review.discoId}</h5>
                    <p>{review.comment}</p>
                  </div>
                ))}
            </div>
        </div>

        <div class="discotecas-trending">
            <h3 class="white">Discotecas trending</h3>
            <div class="row-container">
                {discotecas.map((discoteca) => (
                  <div class="row">
                    <h5 class="margin-5">{discoteca.name}</h5>
                    <p>{discoteca.rate}</p>
                  </div>
                ))}
            </div>
        </div>
    </div>
</Layout>
