---
import Layout from "./layouts/layout_global.astro";
---
<Layout>
	<div class="top-img"></div>
	<div class="text-box-left blue">
		<p class="title">¿Quienes somos?</p>
		<p class="text">
			Somos cuatro jovenes fundadores con muchas ganas de producir un cambio real y
			palpable en la sociedad.
		</p>
	</div>
	<div class="text-box-right green">
		<p class="title">¿De donde nace esta iniciativa?</p>
		<p class="text">
			Como todos los otros jovenes nosotros también salimos de fiesta,
			cansados de ver episodios de violencia machista y violencia en contra el 
			conjunto LGTBI decidimos poner reseñas negativas en Google pero vimos que
			eso no daba ningun resultado. Es por ello que nosotros decidimos hacer una web
			para que mujeres y personas LGTBI sepan a que sitios es seguro ir, con la esperanza
			de evitar agressiones y presionar aquellos locales donde estas se siguen perpetrando.
		</p>
	</div>
</Layout>
