---
import Layout from "./layouts/layout_global.astro";
---

<head>
	<link rel="stylesheet" href="/style_main.css"/>
</head>

<Layout>
	<div class="top-img"></div>
	<div class="text-box-left blue">
		<p class="title">¿Quienes somos?</p>
		<p class="text">Somos una organización sin ánimo de lucro que busca </p>
	</div>
	<div class="text-box-right green">
		
	</div>
	<div class="text-box-left red">
		
	</div>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>

</Layout>
