---
import Controlador from "./../../public/controlador";
import {createUser} from "./../../public/api.js";
import Usuario from "./../../src/scripts/usuario";
import {addButtonListener} from "./../../src/scripts/buttonListener";

function suma( a: any, b: any) {
    return a + b;
}

function f() {
    suma(1, 2);
}


function tryToLogIn(name: string, password: string) {
    var user: Usuario = new Usuario(name, "something", password);
    console.log("This is working");
    createUser(user);
}


if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("username");
    //const email = data.get("email");
    const password = data.get("password");
    tryToLogIn(name.toString(), password.toString());
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}


// ID único para el botón
const buttonId = 'testing';

// Este código se ejecutará en el cliente
if (typeof window !== 'undefined') {
  addButtonListener(buttonId);
}

var user = new Usuario("A", "something", "1234");
createUser(user);

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
        <link rel="stylesheet" href="/estilosLogin.css"/>
    </head>
    <body>
        <h1>Discotecas</h1>

        <form method="POST">
            <div class="form-group">
                <label for="usuarioEmail">Usuario:</label>
                <input type="email" name="usuarioEmail" id="usuarioEmail" required>
            </div>
            <div class="form-group">
                <label for="usuarioPassword">Contraseña:</label>
                <input type="password" name="usuarioPassword" id="usuarioPassword" required>
            </div>
            <div class="form-group">
                <label class="small-text" for="recordarme">
                    <input type="checkbox" id="recordarme"> Recordarme
                </label>
            </div>
            <div class="form-group">
                <button type="button" id="testing">Probando</button>
                <button type="submit" id="log-in">Log in</button>
            </div>
        </form>
    </body>
</html>
