.discoteca-div {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 5%;
    justify-content: center;
    border: 1px solid black;
    border-radius: 25px;
}
.key-value-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    width: 96%;

}
.comments-div {
    margin: 4%;
    height: 96%;
    width: fit-content;
    border: 1px solid black;
    background-color: aliceblue;
}
.entry {
    margin-top: 30px;
    margin-right: 5px;
    font-size: 32px;
}
.content {
    font-size: 20px;
}