.search-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 30px;
    width: 35%;
}
.input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search-label {
    font-size: 14px;
    margin-right: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.search-input {
    box-shadow: 0px 0px 10px gray;
}
.search-button {
    
}